:root {
  --text-color: #757575;
  --text-black-color: #212121;
  --text-wite-color: #ffffff;
  --text-accent: #2196f3;
  --text-background-color: #e5e5e5;
  --background-second-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --border-: 1px solid #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

button {
  outline: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--text-wite-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  align-content: space-between;
  overflow: scroll;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.burger.is-menu-hidden {
  transform: translateX(0);
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger__open {
  border: none;
  background-color: var(--text-wite-color);
}

.burger__open:focus {
  fill: var(--text-accent);
  outline: none;
}

.burger .svg {
  display: block;
  fill: var(--text-black-color);
}

.burger__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--text-wite-color);
  border: none;
}

.burger__close:focus .svg {
  fill: var(--text-accent);
}

.burger__nav--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--text-black-color);
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger__nav--link:focus {
  fill: var(--text-accent);
}

.burger__nav--link.active {
  color: var(--text-accent);
  display: block;
  position: relative;
}

.burger__nav--item:not(:last-child) {
  margin-bottom: 32px;
}

.burger__second--list {
  margin-bottom: 60px;
  width: 100%;
}

.second__link--tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--text-accent);
  text-decoration: none;
}

.second__link--tell:focus {
  fill: var(--text-accent);
}

.burger__second {
  width: 100%;
}

.second__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.second__link:focus {
  fill: var(--text-accent);
}

.burger__second--item:not(:last-child) {
  margin-bottom: 32px;
}

.burger__network {
  display: flex;
}

.burger__network--link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 10px;
  text-decoration: none;
}

.burger__network--link:focus {
  fill: var(--text-accent);
}

.burger__network--item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .burger__open {
    display: none;
  }
  .burger {
    display: none;
  }
}

.logo {
  color: var(--text-accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__color {
  color: var(--text-black-color);
}

.logo__color--footer {
  color: var(--text-wite-color);
}

.section__title {
  color: var(--text-black-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-wite-color);
}

.network-list {
  display: inline-flex;
  margin-top: 16px;
}

.network-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}

.network-link:focus, .network-link:hover {
  background-color: var(--text-accent);
}

.network-icon {
  width: 22px;
  height: 22px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:focus .network-icon,
.network-link:hover .network-icon {
  fill: #ffffff;
}

.soshial-link-container {
  text-align: center;
  margin-bottom: 60px;
}

.soshial-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soshial-link-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.soshial-link-item:not(:last-child) {
  margin-right: 10px;
}

.soshial-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soshial-link:hover, .soshial-link:focus {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 50%;
}

.soshial-link .icon {
  width: 22px;
  height: 22px;
  fill: var(--text-wite-color);
}

.hero-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--text-accent);
}

.footer-btn {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-btn {
    margin-left: 12px;
    margin-top: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--cubic);
}

.backdrop-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 95vh;
  max-height: 609px;
  overflow: scroll;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .backdrop-window {
    overflow: visible;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop-window {
    max-height: 581px;
    max-width: 528px;
  }
}

.backdrop-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--cubic);
}

.icon-exit {
  width: 11px;
  height: 11px;
  transition: fill 250ms var(--cubic);
}

.backdrop-btn:hover .icon-exit,
.backdrop-btn:focus .icon-exit {
  fill: var(--text-accent);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black-color);
}

.backdrop-form-text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-top: 12px;
}

.backdrop-list {
  display: block;
}

.backdrop-imput {
  width: 100%;
  height: 40px;
  padding-left: 44px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--cubic);
}

.backdrop-imput:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.svg-form-container {
  position: relative;
}

.backdrop-checkbox-bg:checked + .checkbox-text::before {
  background-color: var(--text-accent);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  border-color: var(--text-accent);
  border-radius: 2px;
}

.checkbox-text {
  display: inline-block;
  margin-left: 9px;
  margin-top: 20px;
  vertical-align: top;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.checkbox-text::before {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--text-black-color);
  border-radius: 2px;
  background-size: contain;
}

.checkbox-link {
  color: var(--text-accent);
}

.checkbox-link:focus {
  color: var(--text-accent);
}

.backdrop-icon-container {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.backdrop-imput:focus + .backdrop-icon-container {
  fill: var(--text-accent);
}

.backdrop-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-radius 250ms var(--cubic);
}

.backdrop-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.backdrop-textarea:hover, .backdrop-textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-header .site-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .second-nav {
    display: none;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  display: flex;
  margin-left: 90px;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--text-accent);
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1999px) {
  .second-nav .nav-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .second-nav .nav-item:not(:last-child) {
    margin-right: 30px;
  }
}

.site-nav .link {
  display: block;
  padding: 32px 0;
  color: var(--text-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--text-accent);
  display: block;
  position: relative;
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-accent);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .second-nav {
    display: flex;
  }
}

.second-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-nav .link:focus,
.second-nav .link:hover {
  color: var(--text-accent);
}

.second-nav-img {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus .second-nav-img,
.link:hover .second-nav-img {
  fill: var(--text-accent);
}

.nav-item .link {
  display: flex;
  align-items: center;
}

.hero {
  width: 100%;
  background-color: #c4c4c4;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url(../images/hero/hero_bg-mobile@2x.jpg);
  }
}

.hero__title {
  color: var(--text-wite-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg-tablet@2x.jpg);
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_bg-desktop.jpg);
  }
}

.section__title.features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section__title.features {
    text-align: left;
  }
}

.features-item:before {
  content: '';
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-second-color);
  height: 120px;
}

@media screen and (max-width: 767px) {
  .features-item:not(:first-child) {
    margin-top: 30px;
  }
}

.features-text {
  margin-top: 10px;
}

.bgf-img1::before {
  background-image: url(../images/features/bg1.svg);
}

.bgf-img2::before {
  background-image: url(../images/features/bg2.svg);
}

.bgf-img3::before {
  background-image: url(../images/features/bg3.svg);
}

.bgf-img4::before {
  background-image: url(../images/features/bg4.svg);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    margin-top: 0;
    margin-left: -30px;
  }
  .features-item {
    margin-left: 30px;
    margin-top: 0;
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.work-title > .work-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  position: relative;
}

.section-work .section-title.name-page {
  margin-bottom: 50px;
}

.work-title {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  justify-content: center;
  align-items: center;
}

.work-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--text-wite-color);
}

/* ================ END WORK ============== */
.team {
  background-color: var(--background-second-color);
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item .team__text--container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  color: var(--text-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item {
    margin-top: 30px;
    margin-left: 30px;
  }
  .team__list > .team__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-top: 0px;
  }
  .team__list > .team__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
  .team__item .team__text--container {
    padding: 30px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 2) / 2);
}

.clients__img {
  display: block;
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--text-accent);
}

.clients__link {
  display: flex;
  width: 100%;
  height: 90px;
  fill: var(--text-accent);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-radius: 4px;
  border: 1px solid var(--text-accent);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: -30px;
  }
  .clients__item {
    margin-top: 0;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 1) / 1);
  }
}

.footer-page {
  background-color: var(--footer-bg-color);
  text-decoration: none;
  padding: 60px 0;
}

.footer-page .link.rgba {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-address-container {
  text-align: center;
  margin-bottom: 60px;
}

.link-map {
  color: var(--text-wite-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-map:hover, .link-map:focus {
  color: var(--text-accent);
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page .link:focus,
.footer-page .link:hover {
  color: var(--text-accent);
}

.footer-content {
  margin-top: 20px;
  font-style: normal;
}

.footer-list-item {
  margin-top: 8px;
}

.subscription-container {
  width: 100%;
}

.subscription-form {
  text-align: center;
}

.subscription-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--footer-bg-color);
  color: var(--text-wite-color);
  transition: border 250ms var(--cubic);
}

.subscription-input:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.subscription-send {
  margin-left: 10px;
  fill: var(--text-wite-color);
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer-address-container {
    width: 50%;
  }
  .soshial-link-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    flex-wrap: nowrap;
  }
  .footer-address-container {
    margin-bottom: 0;
  }
  .soshial-link-container {
    margin-bottom: 0;
  }
  .subscription-form {
    display: flex;
  }
}

.portfolio-main-container {
  background-color: var(--text-wite-color);
}

.filter-container {
  align-items: center;
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .filter-container {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter-list:nth-child(n + 4) {
    margin-top: 10px;
  }
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  background-color: var(--background-second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:focus, .filter:hover {
  background: var(--text-accent);
  color: var(--text-wite-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio-box {
  border: var(--border-);
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .portfolio-box {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-box:not(:last-child) {
    margin-bottom: 30px;
  }
}

.filter-contant-container {
  padding: 24px 20px;
}

.section .filter-link {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section .filter-link:focus, .section .filter-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--text-accent);
}

.portfolio-opacity-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover .portfolio-opacity-text,
.filter-link:focus .portfolio-opacity-text {
  transform: translateY(0);
}

.filter-contant-container .filter-page {
  font-size: 18px;
  line-height: 1.83;
  letter-spacing: 0.06em;
  color: var(--text-black-color);
}

.section .filter-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

.filter-img {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */