:root {
  --text-color: #757575;
  --text-black-color: #212121;
  --text-wite-color: #ffffff;
  --text-accent: #2196f3;
  --text-background-color: #e5e5e5;
  --background-second-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --border-: 1px solid #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
