.footer-page {
  background-color: var(--footer-bg-color);
  text-decoration: none;
  padding: 60px 0;

  & .link.rgba {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

.footer-address-container {
  text-align: center;
  margin-bottom: 60px;
}

.link-map {
  color: var(--text-wite-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-accent);
  }
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .footer-page &:focus,
  .footer-page &:hover {
    color: var(--text-accent);
  }
}

.footer-content {
  margin-top: 20px;
  font-style: normal;
}

.footer-list-item {
  margin-top: 8px;
}

.subscription-container {
  width: 100%;
}

.subscription-form {
  text-align: center;
}

.subscription-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--footer-bg-color);
  color: var(--text-wite-color);

  transition: border 250ms var(--cubic);

  &:focus {
    outline: none;
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.subscription-send {
  margin-left: 10px;
  fill: var(--text-wite-color);
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    flex-basis: calc((50% - 45px) / 2);
  }

  .footer-address-container {
    width: 50%;
  }

  .soshial-link-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    flex-wrap: nowrap;
  }

  .footer-address-container {
    margin-bottom: 0;
  }

  .soshial-link-container {
    margin-bottom: 0;
  }

  .subscription-form {
    display: flex;
  }
}
